/classtest/nbproject/private/
/evidence/EvidenceCrud/jsfcrud/nbproject/private/
/evidence/EvidenceCrud/jsfcrud/build/
/evidencejsf/nbproject/private/
/evidencejsf/build/
/Server Side/customtag/nbproject/private/
/Server Side/customtag/build/
/Server Side/execeptiontest/nbproject/private/
/Server Side/execeptiontest/build/
/evidence for JSF/jsf_crud/nbproject/private/
/JSP_JSF_SERVLET/evidence for JSF/EvidenceCrud/jsfcrud/nbproject/private/
/JSP_JSF_SERVLET/evidence for JSF/EvidenceCrud/jsfcrud/build/